<div class="hidden lg:block w-[230px] bg-white p-[1.4rem] pt-16 border border-solid border-[#e8e8e8] sticky top-0 h-screen ">
    <div class="bg-[#cc181e] text-[13px] font-medium p-1 pl-4 pr-4">
        <h2 class="text-white">309</h2>
    </div>
    {/* <br class="text-[black]"/> */}
    <div class="mt-2 border-t border-t-[#F1F1F1]">
        <h2 class="text-[#cc181e] text-[13px] mt-1 ml-2">Loops</h2>
        <div class="ml-3">
            <div class="text-[13px]">Proyectos</div>
        </div>
    </div>
</div>
