---
import Button from "./Button.astro";
---

<form class="flex w-full">
    <input
        type="text"
        class=" h-full w-full lg:w-[584px]  lg:border-r-0"
        value=""
    />
    <Button disabled={true} class="hidden lg:inline">
        <span
            class="bg-no-repeat bg-[url(https://web.archive.org/web/20150611000903im_/https://s.ytimg.com/yts/imgbin/www-hitchhiker-vfldzd94_.png)] bg-search spacing-search w-3.5 h-3.5 block text-center mr-[0.95rem] ml-[0.95rem] opacity-[.6]"
        ></span>
    </Button>
</form>
