      <main class="flex flex-col min-h-screen gap-[0.60rem] lg:ml-[2.20rem] lg:mr-[2.15rem] pt-[3.2rem] lg:pt-[3.8rem] lg:flex-row">
        <slot />

      </main>
      <footer class="mt-[100px]">
        <div class="bg-white pt-[0.65rem] pl-[0.90rem] pr-[0.90rem]">
          <span class="text-[16px] text-[#222] font-normal">
            Aquí no sé que poner todavía
          </span>
          <p>
            Creditos:
            - Goku
            - Yo
            - Goku  
          </p>
        </div>
      </footer>